# Data
*.csv
*.onnx
*.mat
*.txt
*.json
wider
*.jpg
*.npy
*.avif
*.webp

# Tools
.git/
.idea/
**/__pycache__/
.vscode/
.mypy_cache/
.DS_Store
.python-version
*.egg*
.coverage
.env
lightning_logs
.fake-mlflow
*.pth
*.ckpt
*.mov
*.mp4
datasets/distances/

# Include
!requirements.txt
*.png
*.pt
