# Data
*.csv
*.onnx
*.mat
*.txt
*.json
wider
*.jpg

# Tools
.git/
.idea/
**/__pycache__/
.vscode/
.mypy_cache/
.DS_Store
.python-version
*.egg*
.coverage
.env
lightning_logs
.fake-mlflow
*.pth
*.ckpt

# Include
!requirements.txt
