numpy
onnx
onnxruntime
opencv-python
opencv-contrib-python
matplotlib
scikit-image
torch
mlflow<2.4.0
torchvision
types-PyYAML
albumentations==1.4.4
addict
dacite
environs
mean-average-precision
boto3==1.26.161
pytorch-lightning
toolz
psutil
gpumonitor
dataclasses-json
click
