numpy
onnx
onnxruntime
opencv-python
matplotlib
scikit-image
nptyping
torch
torchvision
types-PyYAML
lightning
albumentations
addict
dacite
environs
git+https://github.com/bes-dev/mean_average_precision.git
